/* Button styling */
#create-post-btn {
    background-color: #fa4616; 
    color: white; 
    font-size: 16px; 
    padding: 7px 10px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s ease, transform 0.2s ease; 
}
/* Hover effect */
#create-post-btn:hover {
    background-color: #0021a5; 
    transform: scale(1.05); /
}


#create-post-btn:active {
    background-color: #003f8a; 
    transform: scale(0.95); 
}


#create-post-btn:disabled {
    background-color: #cccccc; 
    cursor: not-allowed; 
    transform: none; 
}