/* Forum Posts Container */
.forum-posts {
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  width: 100%;
  min-height: 350px;
  font-family: 'Poppins';
  font-size: 15px;
  font-weight: 50;
  color: #424242;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px; /* Rounded corners */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Header section with title and button */
.section-title {
  margin: 0;
}

.forum-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.view-forum-btn {
  background-color: #ff6600;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

/* Each Post */
.posts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  flex-shrink: 0;
}

.posts:last-child {
  border-bottom: none;
}

/* Post Content */
.content h4 {
  font-size: 12px;
  font-weight: 400;
  color: #333;
  margin: 0;
}

.content p {
  font-size: 12px;
  color: #666;
  margin: 5px 0 0;
}

/* View Link */
.view-link {
  color: #ff6600;
  font-weight: 400;
  text-decoration: none;
  font-size: 10px;
  transition: color 0.3s ease;
}

.view-link:hover {
  text-decoration: underline;
  color: #ff4500;
}

.post-form {
  margin-top: 10px;
}

.post-input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
}

.submit-button {
  background-color: #ff6600;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #ff4500;
}
