.forum-thread-container {
  margin-top: 80px;
  width: 100%;
  padding-left: 10px;
}

.back-button {
}

.post-content {
}

.post-category {
}

.post-author {
}

.post-date {
}

.post-body {
}

.post-stats {
}
